body{
    font-family: Roboto, sans-serif;
    background-color: #f5f5f5;
    color: #212121;
    overflow-x: hidden;
}

h1{
    font-size: 100px;
    font-family: Roboto-Light;
    margin-top: 300px;
}

h3{
    font-size: 38px;
    font-family: Roboto-Light;
    margin: 0px 0px 30px 0px;
    color: #039be5;
}

p{
    color: #212121;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 25px;
}

header{
    position: relative;
    background-color: #039be5;
    z-index: 1;
    min-height: 267px;
    width: 100%;
}

header .container-fluid{
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
}

.container-fluid{
    max-width: 1520px;
}

header h1{
    color: #fff;
    font-size: 56px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
}

header .nav-spacer{
    display: flex;
    flex: 1;
}

.side-nav{
    position: fixed;
    left: -500px;
    top: 0;
    bottom: 0;
    width: 500px;
    background: #fff;
    z-index: 1001;
    box-shadow: 0px 0px 40px #0000006e;
    display: none;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.side-nav ul{
    padding: 0px 0px 120px 0px;
}

.side-nav ul li{
    list-style: none;
}

.side-nav ul li a{
    padding: 20px 80px;
    font-size: 24px;
    font-family: Roboto-Light;
    color: #333;
    display: block;
}

.side-nav ul li a:hover,
.side-nav ul li a:active,
.side-nav ul li a:focus{
    text-decoration: none;
    background-color: #f5f5f5;
    color: #000;
}

.side-nav ul.sub-menu{
    padding: 0px 80px;
}

.side-nav ul.sub-menu li a{
    padding: 20px 32px;
    font-size: 21px;
}

.side-nav .close-btn{
    position: absolute;
    right: 25px;
    top: 20px;
    cursor: pointer;
}

.side-nav .close-btn i{
    font-size: 34px;
}


.menu-overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: #0003;
    display: none;
    cursor: pointer;
}

.menu-burger{
    cursor: pointer;
}
.menu-burger span{
    width: 35px;
    height: 3px;
    background: #fff;
    display: block;
    margin-bottom: 7px;
}

.icon-bubble{
    width: 100px;
    height: 100px;
    background: #f5f5f5;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.icon-bubble i{
    font-size: 45px;
    margin-top: 26px;
}

.loggedin-user .icon-bubble{
    width: 50px;
    height: 50px;
}

.loggedin-user .icon-bubble i{
    font-size: 30px;
    margin-top: 9px;
    color: #333;
}

.btn-enter{
    border: 0px;
    padding: 15px 35px;
    background-color: #6de504;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Roboto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 3px;
    font-size: 16px;
    outline: none !important;
    display: inline-block;
}

.btn-enter:hover,
.btn-enter:active,
.btn-enter:focus{
    box-shadow: 0px 1px 9px #0000004d;
    color: #fff;
    text-decoration: none;
}

.content-container{
    margin-top: 100px;
}

.button-navigation{
    text-align: center;
    margin-top: 100px;
}

.login-form input{
    width: 100%;
    height: 54px;
    padding: 0px 25px;
    font-family: Roboto-Light;
    font-size: 18px;
    outline: none !important;
    margin-bottom: 20px;
}






/*************************
*
* Card Stack View Styles
*
**************************/


.karteikarte{
    margin: 0 auto;
    width: 800px;
    box-shadow: 0px -2px 15px #0000002b;
    z-index: 3;
    position: relative;
    margin-top: -75px;
}


.karteikarte .karteikart-content{
    height: 350px;
    min-height: 350px;
    max-height: 350px;
    padding: 40px;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Merienda One;
    z-index: 3;
    border: 1px solid #eee;
    border-top: 0px;
    border-left: 0px;
}

.karteikarte .karteikart-content.back{
    background-color: #FFF176;
}

.karteikarte .next-card-bg{
    background: #fff;
    position: absolute;
    bottom: -4px;
    right: -4px;
    border: 1px solid #eee;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.karteikarte .next-card-bg.next-card-bg-2{
    bottom: -8px;
    right: -8px;
    z-index: -2;
    box-shadow: 0px -2px 15px #0000002b;
}

.owl-carousel .owl-stage-outer{
    background-color: #f5f5f5;
}

.karteikarte .prev-card-arrow,
.karteikarte .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left: -85px;
    font-size: 100px;
    color: #777;
    top: 140px;
    cursor: pointer;
    z-index: 5;
    line-height: 55px;
    outline: none !important;
}

.karteikarte .next-card-arrow,
.karteikarte .owl-carousel  .owl-nav button.owl-next{
    position: absolute;
    right: -90px;
    font-size: 100px;
    color: #777;
    top: 140px;
    cursor: pointer;
    z-index: 5;
    line-height: 55px;
    outline: none !important;
}

.card-navigation{
    width: 800px;
    margin: 0 auto;
    margin-top: 35px;
    padding: 0px 70px;
    display: flex;
}

.card-navigation i{
    color: #777;
    font-size: 35px;
    margin-right: 25px;
    cursor: pointer;
}

.card-navigation i:hover{
    color: #333;
}

.card-navigation i:last-child{
    margin-right: 0px;
}

.prev-card-arrow:hover,
.karteikarte .owl-carousel .owl-nav button.owl-prev:hover,
.karteikarte .owl-carousel  .owl-nav button.owl-next:hover,
.next-card-arrow:hover{
    color: #333;
}

.karteikarte .owl-dots{
    display: none;
}

.translation-input{
    margin: 0 auto;
    margin-top: 100px;
    width: 800px;
    text-align: center;
    padding: 0px 20px;
}

.translation-input input{
    background: none;
    border: 0px;
    border-bottom: 1px solid #bbb;
    font-size: 20px;
    font-family: Roboto-Light;
    width: 100%;
    padding: 13px;
    outline: none !important;
}


.aktueller-stapel-daten{
    color: #fff;
    font-size: 20px;
    font-family: Roboto-Light;
    width: 800px;
    margin: 0 auto;
    display: flex;
    margin-top: -50px;
    position: absolute;
    padding: 0px 20px;
}

.aktueller-stapel-daten .stapel-name{
    display: flex;
    flex: 1;
}
.aktueller-stapel-daten .anzahl-karten i{
    font-size: 27px;
    margin-top: 2px;
}

.aktueller-stapel-daten i{
    font-size: 30px;
    float: left;
    margin-right: 10px;
}