@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../Fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../Fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
