body{
    font-family: Roboto, sans-serif;
    background-color: #f5f5f5;
    color: #212121;
}

header{
    position: relative;
    background-color: #039be5;
    z-index: 1;
    min-height: 267px;
    padding: 200px 200px 0;
    width: 100%;
}

header h1{
    color: #fff;
    font-size: 56px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
}

.menu-burger{
    position: absolute;
    z-index: 5;
    top: 50px;
    left: 200px;
    cursor: pointer;
}

.menu-burger span{
    width: 35px;
    height: 3px;
    background: #fff;
    display: block;
    margin-bottom: 7px;
    box-shadow: 0px 0px 3px #0000007a;
}

.side-nav-header{
    padding: 30px 0px;
    border-bottom: 1px solid #e0e0e0;
}

.side-nav-header .username{
    text-align: center;
    display: block;
    margin-top: 12px;
    font-size: 16px;
}

.icon-bubble{
    width: 100px;
    height: 100px;
    background: #eee;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.icon-bubble i{
    font-size: 45px;
    margin-top: 26px;
}

#side-nav{
    border-right: 1px solid rgba(0,0,0,.14);
    bottom: 0;
    background: #fff;
    color: #212121;
    display: block;
    font-family: Roboto,sans-serif;
    left: 0;
    position: fixed;
    top: 0;
    width: 270px;
    z-index: 4;
    transform: translateZ(0);
    transform-style: preserve-3d;
    transition-delay: .1s;
    transition-duration: .2s;
    transition-property: transform,left;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    font-weight: 700;
    letter-spacing: 0.5px;
}

#side-nav nav{
    padding: 20px 0px;
}
#side-nav ul{
    margin: 0px;
    padding: 0px;
}


#side-nav ul li{
    list-style: none;
    border-left: 2px solid transparent;
    color: #212121;
    font-family: Roboto;
    margin-top: 0;
    padding: 15px 0 15px 35px;
    font-weight: 700;
    letter-spacing: 0.5px;
    cursor: pointer;
}

#side-nav ul li:hover{
    background-color: #f5f5f5;
}

h1{
    font-size: 100px;
    font-family: Roboto-Light;
    margin-top: 300px;
}

h3{
    font-size: 38px;
    font-family: Roboto-Light;
    margin: 0px 0px 30px 0px;
    color: #039be5;
}

p{
    color: #212121;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 25px;
    max-width: 900px;
}

.btn-enter{
    border: 0px;
    padding: 15px 35px;
    background-color: #6de504;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Roboto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 3px;
    font-size: 16px;
    outline: none !important;
}


.btn-enter:hover{
    box-shadow: 0px 1px 9px #0000004d;
}

.content-container{
    position: absolute;
    margin-left: 200px;
    left: 270px;
    top: 256px;
    margin-top: 100px;
    right: 250px;
}


.karteikarte{
    margin: 0 auto;
    width: 800px;
    height: auto;
    padding: 40px;
    background: #fff;
    box-shadow: 0px -2px 15px #0000004d;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto-Light;
    z-index: 3;
    position: relative;
}

.translation-input{
    margin: 0 auto;
    margin-top: 100px;
    width: 800px;
    text-align: center;
}

.translation-input input{
    background: none;
    border: 0px;
    border-bottom: 1px solid #bbb;
    font-size: 20px;
    font-family: Roboto-Light;
    width: 100%;
    padding: 13px;
    outline: none !important;
}

.button-navigation{
    text-align: center;
    margin-top: 100px;
}