{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1>Hallo Eduard</h1>
            <h3>Lass uns heute richtig durchstarten und Cash machen !!</h3>
        </div>
    </div>
{% endblock %}

