{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div id="karteikarte" class="karteikarte">
        <div class="aktueller-stapel-daten">
            <div class="stapel-name">
                <i class="material-icons">layers</i>
                Aktueller Stapelname
            </div>
            <div class="anzahl-karten">
                <i class="material-icons">comment</i>
                <span></span>
            </div>
        </div>

        <div class="owl-carousel owl-theme">
            <div class="item flip-card-effect">
                <div class="karteikart-content front">
                    <span>Eine test Vokabel</span>
                </div>
                <div class="karteikart-content back">
                    <span>Das ist die Beschreibung zu der Vokabel. Sie sollte nicht zu lang sein (ungefähr so).</span>
                </div>
            </div>

            <div class="item flip-card-effect">
                <div class="karteikart-content front">
                    <span>Eine test Vokabel</span>
                </div>
                <div class="karteikart-content back">
                    <span>Das ist die Beschreibung zu der Vokabel. Sie sollte nicht zu lang sein (ungefähr so).</span>
                </div>
            </div>

            <div class="item flip-card-effect">
                <div class="karteikart-content front">
                    <span>Eine test Vokabel</span>
                </div>
                <div class="karteikart-content back">
                    <span>Das ist die Beschreibung zu der Vokabel. Sie sollte nicht zu lang sein (ungefähr so).</span>
                </div>
            </div>

            <div class="item flip-card-effect">
                <div class="karteikart-content front">
                    <span>Eine test Vokabel</span>
                </div>
                <div class="karteikart-content back">
                    <span>Das ist die Beschreibung zu der Vokabel. Sie sollte nicht zu lang sein (ungefähr so).</span>
                </div>
            </div>

            <div class="item flip-card-effect">
                <div class="karteikart-content front">
                    <span>Eine test Vokabel</span>
                </div>
                <div class="karteikart-content back">
                    <span>Das ist die Beschreibung zu der Vokabel. Sie sollte nicht zu lang sein (ungefähr so).</span>
                </div>
            </div>

        </div>
        <span class="next-card-bg"></span>
        <span class="next-card-bg next-card-bg-2"></span>
    </div>

    {#<div class="card-navigation">#}
        {#<i class="material-icons">library_add</i>#}
        {#<i class="material-icons">star_border</i>#}
        {#<i class="material-icons">info_outline</i>#}
        {#<i class="material-icons">mode_edit</i>#}
        {#<i class="material-icons">delete</i>#}
    {#</div>#}

    <div class="translation-input">
        <input type="text" placeholder="Gibt optional die Antwortmöglichkeit ein, diese überprüfen wir dann mit der Lösung.">
    </div>

{% endblock %}

