{% extends 'layouts/karteikarten.html.twig' %}

{% block body %}
    <div id="karteikarte" class="karteikarte">
        <div class="aktueller-stapel-daten">
            <div class="stapel-name">
                <i class="material-icons">layers</i>
                Aktueller Stapelname
            </div>
            <div class="anzahl-karten">
                <i class="material-icons">comment</i>
                <span></span>
            </div>
        </div>

        <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="karteikart-content current-card">
                        <span>Eine test Vokabel</span>
                    </div>
                </div> <div class="item">
                    <div class="karteikart-content current-card">
                        <span>Eine test Vokabel</span>
                    </div>
                </div> <div class="item">
                    <div class="karteikart-content current-card">
                        <span>Eine test Vokabel</span>
                    </div>
                </div> <div class="item">
                    <div class="karteikart-content current-card">
                        <span>Eine test Vokabel</span>
                    </div>
                </div>
            </div>
        <span class="next-card-bg"></span>
        <span class="next-card-bg next-card-bg-2"></span>
    </div>

    {#<div class="card-navigation">#}
        {#<i class="material-icons">library_add</i>#}
        {#<i class="material-icons">star_border</i>#}
        {#<i class="material-icons">info_outline</i>#}
        {#<i class="material-icons">mode_edit</i>#}
        {#<i class="material-icons">delete</i>#}
    {#</div>#}

    <div class="translation-input">
        <input type="text" placeholder="gebe die übersetzung ein.">
    </div>

    <div class="button-navigation">
        <button class="btn-enter">angaben überprüfen</button>
    </div>
{% endblock %}

