{% extends 'layouts/karteikarten.html.twig' %}

{% block body %}
    <div class="translation-input">
        <input type="text" placeholder="gebe die Übersetzung ein.">
    </div>

    <div class="button-navigation">
        <button class="btn-enter">Angaben überprüfen</button>
    </div>
{% endblock %}

